# Dependencies
node_modules/
.npm

# Build output
dist/
build/
.cache/
!frontend/dist/
!frontend/dist/**


# Env files (keep example)
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
